.node-outer {
    position: absolute;
    height: 8%;
    width: 8%;
}

.arc {
    width: 100px;
    height: 100px;
    border: 5px solid transparent;
    border-top-color: black;
    border-radius: 50%;
    clip-path: inset(0 0 90% 0);
}