@page "/Chat"
@using System.Collections.Specialized
@using MEOW.Components.Models
@using MEOW.Components.Services
@inject IChatService ChatService
@inject NavigationManager Navigation
@inject IErrorService ErrorService

<h3>Chat</h3>

<div class="chat-window">
    <span>Connected devices: @ChatService.GetChatParticipantsCount()</span>
    <div class="messages">
        @foreach (var m in _messages)
        {
            <div>
                <strong>@m.Sender:</strong> @m.Message
            </div>
        }
    </div>

    <MatTextField @bind-Value="_outgoing" Label="Send a message"/>
    <MatButton @onclick="SendAsync">Send</MatButton>
    <MatButton @onclick="GoBack">Back</MatButton>
</div>

@code {
    private string _outgoing = string.Empty;
    private List<MeowMessageText> _messages = new();

    protected override Task OnInitializedAsync()
    {
        try
        {
            _messages = ChatService.GetChatMessages();
            ChatService.SetupChatMessageReceivedAction(OnNewMessage);
            return base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            _messages.Add(new MeowMessageText("Error initializing chat: " + e.Message, "error"));
            return base.OnInitializedAsync();
        }
    }

    private void OnNewMessage(object? _, NotifyCollectionChangedEventArgs e)
    {
        if (e.Action != NotifyCollectionChangedAction.Add || e.NewItems == null) return;
        _messages.AddRange(e.NewItems.Cast<MeowMessageText>());
        InvokeAsync(StateHasChanged);
    }

    private async Task SendAsync()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(_outgoing))
                return;

            var result = await ChatService.SendMessage(_outgoing);
            _messages.Add(new MeowMessageText(_outgoing, "You"));

            if (!result.Item1)
            {
                var exceptions = !result.Item2.Any()
                    ? [new Exception("unknown error")]
                    : result.Item2;

                ErrorService.Add(exceptions);
            }

            _outgoing = string.Empty;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            _messages.Add(new MeowMessageText(e.Message, "error"));
            await InvokeAsync(StateHasChanged);
        }
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }

}