.compass {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    position: relative;
}

.nav-point {
    position: absolute;
    height: 15px;
    width: 15px;
    border: 1px solid greenyellow;
    border-radius: 50%;
    background-color: greenyellow;
}