@page "/compass"
@using MEOW.Components.Services
@using MEOW.Components.UIComponents
@implements IAsyncDisposable
@inject NavService Nav

<h3>Compass</h3>
@if (_location is not null)
{
    <div>@_location.Latitude : @_location.Longitude</div>
}
<div class="compass" style="transform: rotate(@(_headingDeg)deg);">
    <div class="compass-inner">
        <p style="color: red; z-index: 10; margin: 0">N</p>
        <div class="nav-point-ring">
            @if (_location is not null)
            {
                @foreach (var (left, bottom) in _navPointTuples)
                {
                    <div class="nav-point" style="bottom:@((bottom - 4) + "%"); left:@((left - 4) + "%");"></div>
                }
            }
        </div>
    </div>
</div>
<button onclick=@(() => Nav.AddDebugPoints(_location, "north"))>Add Debug North</button>
<button onclick=@(() => Nav.AddDebugPoints(_location, "east"))>Add Debug East</button>
<button onclick=@(() => Nav.AddDebugPoints(_location, "south"))>Add Debug South</button>
<button onclick=@(() => Nav.AddDebugPoints(_location, "west"))>Add Debug West</button>
<NavNode/>

@code
{
    double _heading;
    int _headingDeg;
    NavPoint? _location;
    List<(int, int)> _navPointTuples = [];

    bool _started;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender || _started) return;
        _started = true;

        Nav.CompassReadingChanged += OnHeading;
        Nav.LocationChanged += OnLocation;
        Nav.NavPointsChanged += OnNavPoints;

        await Nav.StartAsync(); // compass
        _ = Nav.StartTrackingAsync();
    }

    void OnHeading(object? _, CompassData data)
    {
        _heading = data.HeadingMagneticNorth;
        _headingDeg = 360 - (int)_heading;
        InvokeAsync(StateHasChanged);
    }

    void OnLocation(object? _, NavPoint loc)
    {
        _location = loc;
        UpdateWaypoints();
        InvokeAsync(StateHasChanged);
    }

    void OnNavPoints(object? _, List<NavPoint> __)
        => UpdateWaypoints();

    void UpdateWaypoints()
    {
        if (_location is null) return;
        _navPointTuples = Nav.GetNavPoints()
            .Select(p => NavService.NavPointToVector(_location, p))
            .ToList();
    }

    public async ValueTask DisposeAsync()
    {
        Nav.CompassReadingChanged -= OnHeading;
        Nav.LocationChanged -= OnLocation;
        Nav.NavPointsChanged -= OnNavPoints;
        Nav.StopCompass();
    }
}