@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<MatButton class="btn btn-primary" @onclick="IncrementCount">Click me</MatButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}