@page "/logout"
@using MEOW.Components.Services
@inject NavigationManager Navigation
@inject IUserStateService UserStateService
<h3>Logout</h3>
<span>@_errorMessage</span>

@code {
    private string _errorMessage = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (UserStateService.ResetState())
        {
            Navigation.NavigateTo("/login", true);
        }
        else
        {
            _errorMessage = "Error during logout. Please try again.";
        }
    }
}