@page "/mesh-diagram" 
@using MEOW.Components.Models

<h3>Mesh Network</h3>
<h4>Her kan du se hvem du er connected til.</h4>
@if (errorMessage != null)
{
    <p style="color:red">@errorMessage</p>
}

@if (!string.IsNullOrEmpty(svgContent))
{
    @((MarkupString)svgContent)
}

@code {
    string? errorMessage { get; set; }
    string? svgContent = string.Empty;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var meshNetwork = new MeshNetwork();

        var carlNode = new MeshNetworkNode(1, "Carl");
        var shadiNode = new MeshNetworkNode(2, "Shadi");
        var maksimNode = new MeshNetworkNode(3, "Maksim");
        var leonNode = new MeshNetworkNode(4, "Leon");
        var thomasNode = new MeshNetworkNode(5, "Thomas");
        var theisNode = new MeshNetworkNode(6, "Theis");
        var jsNode = new MeshNetworkNode(7, "Javascript");
        var nodes = new List<MeshNetworkNode>()
        {
            carlNode,
            shadiNode,
            maksimNode,
            leonNode,
            thomasNode,
            theisNode,
            jsNode
        };

        var connections = new List<MeshNetworkConnection>
        {
            new(carlNode, shadiNode, new DateTime(2025, 10, 23, 9, 0, 0), DateTime.Now.AddMinutes(-5)),
            new(shadiNode, maksimNode, new DateTime(2025, 10, 23, 9, 15, 0), DateTime.Now.AddMinutes(-1)),
            new(maksimNode, leonNode, new DateTime(2025, 10, 23, 9, 10, 0), DateTime.Now.AddMinutes(-3)),
            new(leonNode, carlNode, new DateTime(2025, 10, 23, 9, 20, 0), DateTime.Now.AddMinutes(-2)),
            new(carlNode, thomasNode, new DateTime(2025, 10, 23, 9, 20, 0), DateTime.Now.AddMinutes(-2)),
            new(carlNode, theisNode, new DateTime(2025, 10, 23, 9, 20, 0), DateTime.Now.AddMinutes(-2)),
            new(leonNode, shadiNode, new DateTime(2025, 10, 23, 9, 20, 0), DateTime.Now.AddMinutes(-2)),
            new(thomasNode, jsNode, new DateTime(2025, 10, 23, 9, 20, 0), DateTime.Now.AddMinutes(-2))
        };

        meshNetwork.AddNodesAndConnections(nodes, connections);
        await RenderNetwork(meshNetwork);
    }

    async Task RenderNetwork(MeshNetwork meshNetwork)
    {
        try
        {
            svgContent = await meshNetwork.ToSVG();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }

        StateHasChanged();
    }

}


