@page "/quickChat"
@inject INavService Nav
@using MEOW_BUSINESS.Enums
@using MEOW_BUSINESS.Services
@using MEOW_BUSINESS.Models
@inject IQuickChatService QuickChatService
@inject IErrorService ErrorService

<div>
    <MatButton OnClick="SendQuickMessage">Found The Person!</MatButton>
</div>

@code
{
    NavPoint? _location;

    protected override Task OnInitializedAsync()
    {
        Nav.TryStartGps();
        Nav.LocationChanged += OnLocation;
        return base.OnInitializedAsync();
    }

    private async Task SendQuickMessage()
    {
        if (_location is null)
            return;
        try
        {
            var (success, errors) = await QuickChatService.SendMessage(new (_location.Longitude, _location.Latitude, QuickChatMessageType.Found));
            if (!success)
            {
                ErrorService.Add(errors.Any() ? errors : new[] { new Exception("Unknown error") });
            }
        }
        catch (Exception ex)
        {
            ErrorService.Add(ex);
        }
    }

    private void OnLocation(object? _, NavPoint location)
    {
        _location = location;
        InvokeAsync(StateHasChanged);
    }
}